<div>
  <a id="title" href="/">
    EasyCook
  </a>
  <h1 id="listeCourses">
    Ma liste de courses
  </h1>
  <br>
  <div id="liste">
    <div class="ingredients" *ngIf="message">
      <h4>Poulet teriyaki pour 2 personnes</h4>
      <button class="supprimer" (click)="delete()">Supprimer</button>
      <div class="corps">
        <div>
          <div *ngFor="let ingredient of ingredients" class="centrer">- {{ingredient}}</div>
        </div>
        <img src="https://www.lessecretsduchef.be/img/cms/poulet-teriyaki.jpg" height="200px" width="200px">
      </div>
    </div>
    <br>
    <div class="ingredients">
      <h4>Poulet teriyaki pour 2 personnes</h4>
      <button class="supprimer">Supprimer</button>
      <div class="corps">
        <div>
          <div *ngFor="let ingredient of ingredients" class="centrer">- {{ingredient}}</div>
        </div>
        <img src="https://www.lessecretsduchef.be/img/cms/poulet-teriyaki.jpg" height="200px" width="200px">
      </div>
    </div>
  </div>
</div>
