<div>
  <a id="title" routerLink="/">
    EasyCook
  </a>
  <h1 id="listeCourses">
    Ma liste de courses
  </h1>
  <br>
  <div id="liste">
    <div class="ingredients" *ngIf="mealList.length != 0">
      <div *ngFor="let recipe of mealList">
        <h4>{{recipe.title}}</h4>
        <button class="supprimer" (click)="delete()">Supprimer</button>
        <div class="corps">
          <div>
            <div *ngFor="let ingredient of recipe.ingredients" class="centrer">- {{ingredient}}</div>
          </div>
          <img src="{{recipe.url}}" height="200px" width="200px">
        </div>
      </div>
    </div>
  </div>
</div>
