/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
#title{
  font-size: 40px;
  color: black;
  border-radius: 10px 10px 10px 10px;
  background-color: lightsalmon;
  border: 3px black solid;
  max-width: 22% ;
}

#i_cart{
  position: absolute;
  right: 50px;
  top: 0px;
}

#firstTitle{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

#leftPanel{
  border: 3px black solid;
}

.row{
  margin-right: 0px;
  margin-left: 0px;
}
