<div>
  <a id="title" routerLink="/">
    EasyCook
  </a>
  <div *ngIf="mealList.length != 0">
    <br>
    <div id="liste">
      <div>
        <div class="ingredients" *ngFor="let meal of mealList">
          <h4 (click)="goToMeal(meal.id)">{{meal.title}}</h4>
          <div style="float: right">
            <select class="form-control" [(ngModel)]="meal.personNumber">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
            </select>
          </div>
          <div class="corps">
            <div>
              <div *ngFor="let ingredient of meal.ingredients" class="centrer">- {{ingredient[0]*meal.personNumber}}{{ingredient[1]}}</div>
            </div>
            <img src="{{meal.url[0]}}" height="200px" width="200px" (click)="goToMeal(meal.id)">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
