.form-control2 {
  display: block;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control3 {
  display: block;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button{
  background-color: #BBCCDD;
}

#i_cart{
  position: absolute;
  right: 50px;
  top: 0px;
}

#titre{
  text-align: center;
}

#add{
  float: right;
}

#images{
  text-align: center;
}

#img1{
  margin-right: 10%;
}

#corps{
  display: flex;
  /*align-items: center;*/
  justify-content: space-around;
}

#suggestions{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#ingredients{
  text-align: center;
}

#form{
  /*width: 60px;*/
  display: flex;
  flex-direction: row;
}

.centrer{
  text-align: center;

}

.horizontal{
  vertical-align: center;
  text-align: center;

}
